extends ../layout/index 
      
block content

      h1.text-center.text-4xl.font-extrabold.my-10 MY 
           span.font-normal Reports
      h2.text-center.text-2xl.font-extrabold=titulo

      .mt-8.mx-auto.max-w-md
        .bg-white.py-8.px-4.shadow

            form.space-y-5(action="/login", method="post")

                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="cc") CC:
                    input(type="number", id="cc", name="cc",class="border gray 300 w-full py-2 px-3 rounded-md mb-3", placeholder="CC" required)

                 
                div
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Contraseña:
                    input(type="password", id="password", name="password", ,class="border gray 300 w-full py-2 px-3 rounded-md mb-3", placeholder="Tu password" required)

                .flex.items-center.justify-between 
                    a(href="/register", class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800") ¿No tienes cuenta? Registrate
                    a(href="/recuperacion", class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800") Olvide mi Contraseña
              
                div
                    input(type="submit", value="Iniciar Sesion", class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 cursor-pointer rounded")
