extends ../layout/index 
      
block content

      h1.text-center.text-4xl.font-extrabold.my-10 MY 
           span.font-normal Reports
      h2.text-center.text-2xl.font-extrabold=titulo

      .mt-8.mx-auto.max-w-md
        .bg-white.py-8.px-4.shadow
          aside.sidebar
               ul.menu
               li
                    a(href="#") Opción 1
               li
                    a(href="#") Opción 2
               li
                    a(href="#") Opción 3
          main.content
               block content
